<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Contact Me</title>
</head>
<body>
    <nav>
        <a href="/gallery/">Home</a>
    </nav>
    <h1>Contact Me</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
        Vero rem magni itaque ratione expedita architecto perferendis maiores rerum!<br> 
        Distinctio earum tempore consequuntur delectus soluta sunt odit repellendus magnam veritatis ullam.</p><br>
    <button onclick="changegreeting()">Clich here</button><br><br>
</body>
</html>