<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
</head>
<body>
    <h1>Enter Your Details</h1>
    <form action="" method="POST">
        {{ form.non_field_errors }}
        {% csrf_token %}
        <label>Fullname :</label>
        <input type="text" name="fullname" required><br><br>
        {{form.fullname.errors}}

        <label>Email :</label>
        <input type="email" name="email" required><br><br>
        {{form.email.errors}}

        <label>Password :</label>
        <input type="password" name="password" required><br><br>
        {{form.password.errors}}
        <input type="submit" value="Submit">

    </form>
</body>
</html>